@use 'vars' as *;
@use 'fonts' as *;

.intro {
  padding: 100px 0 100px;
  background-color: $semi-white;
  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $white;
  }
  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }
  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: none;
  }
  &__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;
  }
  &__content {
    max-width: 600px;
    width: 100%;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    p {
      margin-bottom: 25px;
      font-size: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__img-box {
    max-width: 570px;
    width: 100%;
    height: auto;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.advantages {
  padding: 100px 0 100px;
  &__title-box {
    margin: 0 auto 50px auto;
  }
  &__title {
    @include Rubik-500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: none;
  }
  &__sub-title {
    font-size: 18px;
    text-align: center;
  }
  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }
  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }
  &__list {
    display: grid;
    align-self: stretch;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
  }
  &__item {
    max-width: 100%;
    width: 100%;
    min-height: 165px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 30px;
    background-color: $dark-blue;
  }
  &__item-title {
    @include Rubik-400;
    font-size: 22px;
    color: $blue;
  }
  &__item-icon {
    width: 50px;
    height: 50px;
  }
  &__item-text {
    color: $white;
  }
}

.result {
  padding: 100px 0 100px;
  background-color: $semi-white;
  position: relative;
  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: none;
  }

  &__pretitle {
    margin: 0 auto 25px 0;
    background-color: $white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }
  &__inner {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    gap: 30px;
  }
  &__img-block {
    flex: 1 1 50%;
    max-width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    flex: 1 1 auto;
    max-width: 50%;
    width: 100%;
    padding-left: 50px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  &__item-title {
    font-size: 20px;
    @include Rubik-500;
    margin-bottom: 10px;
  }
  &__item-text {
    color: $grey;
    font-size: 18px;
  }
}

.used {
  padding: 100px 0 100px;
  &__title-box {
    margin: 0 auto 50px auto;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: none;
  }

  &__sub-title {
    font-size: 18px;
    text-align: center;
  }

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: stretch;
    gap: 30px;
  }
  &__item {
    max-width: 100%;
    width: 100%;
    min-height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 25px;
    text-align: center;
    background-color: $semi-white;
  }
  &__item-icon {
    width: 50px;
    height: 50px;
  }
  &__item-title {
    @include Rubik-500;
    font-size: 22px;
    color: $dark-blue;
    margin-bottom: 10px;
  }
  &__item-text {
    color: $grey;
    font-size: 18px;
  }
}
.co2-target {
  padding: 100px 0;
  background: $semi-white;

  &__pretitle {
    margin-bottom: 50px;
    background: $white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 50px;
    align-self: start;
  }

  &__content {
    max-width: 640px;
  }

  &__title {
    margin-bottom: 25px;
    color: $dark-blue;
  }

  &__descr {
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 20px;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    strong {
      @include Rubik-600;
    }

    a {
      color: $blue;
      text-decoration: none;
      @include Rubik-500;
      border-bottom: 1px solid transparent;
      transition: 0.3s ease;

      &:hover {
        border-bottom: 1px solid $blue;
      }
    }
  }

  &__architecture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  &__block {
    padding-left: 25px;
    border-left: 2px solid $grey-100;
    transition: 0.3s ease;

    &:hover {
      border-left: 2px solid $blue;
    }

    ul {
      padding-left: 30px;
      margin: 0;

      li {
        margin-bottom: 10px;
        font-size: 15px;
        color: $grey-700;

        &::marker {
          color: $blue;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__block-title {
    margin-bottom: 15px;
    font-size: 18px;
    @include Rubik-500;
    color: $dark-blue;
  }
}
.co2-implementation {
  padding: 100px 0 100px;

  &__title-box {
    margin: 0 auto 50px auto;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 15px;
  }

  &__descr {
    margin-bottom: 30px;
    font-size: 18px;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__list {
    display: grid;
    align-self: stretch;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
  }

  &__item {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: $dark-blue;
  }

  &__item-title {
    @include Rubik-400;
    font-size: 22px;
    color: $blue;
  }

  &__item-icon {
    width: 50px;
    height: 50px;
  }

  &__item-text {
    color: $white;
  }
}
.co2-comparison {
  padding: 100px 0;
  background-color: $dark-blue;

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
    color: $dark-blue;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 30px;
    color: $white;
  }
  &__descr {
    margin-bottom: 30px;
    font-size: 18px;
    color: $white;
    p {
      margin-bottom: 20px;
      line-height: 1.4;
      strong {
        @include Rubik-600;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__table-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }

  &__thead {
    background-color: $semi-white;
  }

  &__table-label {
    @include Rubik-400;
    font-size: 22px;
    color: $dark-blue;
    padding: 18px 20px;
    text-align: left;
    border-right: 1px solid $grey;

    &:last-child {
      border-right: none;
    }
  }

  &__table-data {
    padding: 18px 20px;
    color: $white;
    border-right: 1px solid $grey;
    transition: all .3s;

    &:last-child {
      border-right: none;
    }
  }

  tbody tr {
    border-bottom: 1px solid $grey;
    transition: background 0.3s ease;
  }

  tbody tr:hover {
    background: rgba($dark-blue, 0.5);
   td {
      color: $blue;
  
      &::before {
        color: $white;
      }
    }
  }
  &__conclusion {
    font-size: 18px;
    color: $white;
    margin-bottom: 30px;
  
    p {
      margin-bottom: 20px;
      line-height: 1.4;
  
      strong {
        @include Rubik-600;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__cta {
    font-size: 16px;
    color: $white;
    p {
      margin-bottom: 20px;
    }
  }
  &__cta-btn {
    background-color: $white;
    color: $dark-blue;
    &:active {
      opacity: 0.7;
    }
  }

}


@media (max-width: 1200px) {
  .advantages {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .result {
    &__inner {
      padding: 50px;
      background-color: $white;
      border: 1px solid $dark-blue;
    }
    &__pretitle {
      margin: 0 auto 25px auto;
      background-color: $semi-white;
    }
    &__img-block {
      display: none;
    }
    &__content {
      padding-left: 0;
      max-width: 100%;
    }
  }
  .used {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .co2-implementation {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 1064px) {
  .intro {
    &__inner {
      display: block;
    }
    &__content {
      max-width: 100%;
      margin-bottom: 30px;
    }
    &__img-box {
      max-width: 100%;
    }
  }
  .co2-target {
    &__wrapper {
      gap: 30px;
    }

    &__title {
      font-size: 36px;
    }
  }
}
@media (max-width: 992px) {
  .co2-target {
    &__pretitle {
      margin: 0 auto 25px auto;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      gap: 50px;
    }

    &__content {
      max-width: 100%;
    }

    &__desct {
      font-size: 16px;
      line-height: 1.2;
    }

    &__architecture {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    &__block {
      border-left: none;
      &:hover {
        border-left: none;
      }

      ul {
        padding-left: 20px;
      }
    }
  }
}
@media (max-width: 768px) {
  .advantages {
    &__item-title {
      font-size: 20px;
    }
    &__item {
      padding: 20px;
    }
  }
  .result {
    &__inner {
      padding: 25px;
    }
  }
  .used {
    &__item-title {
      font-size: 20px;
    }
        
    &__item {
      padding: 20px;
    }
  }
  .co2-target {
    &__descr {
      font-size: 18px;
    }
    &__architecture {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__block {
      padding-left: 30px;
      
      border-left: 2px solid $grey-100;
      padding-left: 30px;
      &:hover {
        border-left: 2px solid $blue;
      }

      ul {
        padding-left: 30px;
        li {
          font-size: 16px;
        }
      }
    }
  }
  .co2-implementation {
    &__descr {
      font-size: 18px;
    }
    &__item {
      padding: 20px;
    }
    &__item-title {
      font-size: 20px;
    }
  }
  .co2-comparison {
    &__thead {
      display: none;
    }

    &__table-data {
      color: $grey;
    }

    tbody tr:hover {
      background: rgba($dark-blue, 0.85);
      td {
        color: $blue;
        &::before {
          color: $white;
        }
      }
    }

    &__table,
    &__table tbody,
    &__table tr,
    &__table td {
      display: block;
      width: 100%;

    }

    &__table tr {
      margin-bottom: 20px;
      padding: 18px;
      background-color: $semi-white;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__table td {
      position: relative;
      padding-left: 48%;
      padding-top: 12px;
      padding-bottom: 12px;
      border: none;
    }

    &__table td::before {
      content: attr(data-label)':';
      position: absolute;
      left: 18px;
      top: 12px;
      width: 45%;
      color: $dark-blue;
    }
  }
}
@media (max-width: 578px) {
  .intro {
    padding: 50px 0 50px;
    &__title {
      font-size: 32px;
      margin-bottom: 30px;
    }
  }
  .advantages,
  .used {
    padding: 50px 0 50px;
    &__title-box {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 32px;
    }
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
  .used {
    &__item {
      min-height: auto;
    }
  }
  .result {
    padding: 50px 0 50px;
    &__title {
      font-size: 28px;
    }
  }
  .co2-target {
    padding: 50px 0;

    &__wrapper {
      gap: 30px;
    }

    &__title {
      font-size: 28px;
    }

    &__descr {
      font-size: 16px;
      line-height: 1.2;
    }
    &__block {
      padding-left: 20px;
    }
    &__block-title {
      font-size: 18px;
    }

    &__block  {
      ul {
        li {
          font-size: 14px;
        }
      }
    }
  }
  .co2-implementation {
    padding: 50px 0 50px;

    &__title-box {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 32px;
    }

    &__descr {
      font-size: 16px;
    }

    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    &__item-title {
      font-size: 18px;
    }
  }
  .co2-comparison {
    padding: 50px 0;

    &__title {
      font-size: 28px;
    }
    &__descr,
    &__conclusion {
      font-size: 16px;
    }
    &__table-wrapper {
      margin-bottom: 30px;
    }

    &__table tr {
      padding: 25px 20px;
    }

    &__table td {
      padding-right: 5px;

      &::before {
        top: 10px;
        left: 0;
      }
    }

    &__table-data {
      p {
        padding-left: 10px;
      }
    }
  }
  .faq {
    padding: 50px 0 50px;
    &__title {
      font-size: 32px;
    }
    &__answer {
      font-size: 16px;
    }
  }
}
@media (max-width: 440px) {
  .intro {
    &__pretitle-title {
      font-size: 16px;
    }
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: left;
    }
    &__descr {
      p {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
  }
  .advantages,
  .used {
    &__title-box {
      margin-bottom: 20px;
    }
    &__pretitle-title {
      font-size: 16px;
    }
    &__title {
      font-size: 24px;
    }
    &__sub-title {
      font-size: 16px;
      text-align: left;
    }
    &__item {
      padding: 10px;
    }
    &__item-title {
      font-size: 18px;
    }
    &__item-icon {
      width: 40px;
      height: 40px;
    }
    &__item-text {
      font-size: 16px;
    }
  }
  .used {
    &__title {
      text-align: left;
    }
    &__item {
      text-align: left;
      align-items: flex-start;
    }
  }
  .result {
    &__inner {
      border: none;
      background-color: transparent;
      padding: 0;
    }
    &__pretitle {
      background-color: $white;
    }
    &__pretitle-title {
      font-size: 16px;
    }
    &__title {
      font-size: 24px;
      text-align: left;
    }
    &__list {
      gap: 15px;
    }
    &__item {
      gap: 15px;
    }
    &__item-title {
      font-size: 18px;
    }
    &__item-text {
      font-size: 16px;
    }
  }
  .co2-target {
    &__pretitle-title {
      font-size: 16px;
    }

    &__title {
      font-size: 24px;
    }
  }
  .co2-implementation {
    &__title {
      font-size: 24px;
      text-align: left;
    }

    &__pretitle-title {
      font-size: 16px;
    }

    &__item {
      padding: 15px;
    }
    &__item-icon {
      width: 40px;
      height: 40px;
    }
  }
  .co2-comparison {
    &__title {
      font-size: 24px;
    }

    &__pretitle-title {
      font-size: 16px;
    }

    &__table td::before {
      font-size: 15px;
    }

    &__table-data {
      p {
        padding-left: 10px;
        font-size: 14px;
      }
    }
    &__cta-btn {
      width: 100%;
      text-align: center;
    }
  }
  .faq {
    &__pretitle-title {
      font-size: 16px;
    }
    
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
}
@media (max-width: 365px) {
  .intro {
    &__pretitle-title {
      font-size: 14px;
    }
    &__descr {
      p {
        font-size: 14px;
      }
    }
  }
  .advantages,
  .used {
    &__pretitle-title {
      font-size: 14px;
    }
    &__sub-title {
      font-size: 14px;
    }
    &__item-title {
      font-size: 16px;
    }
    &__item-text {
      font-size: 14px;
    }
  }
  .co2-target {
    &__pretitle-title {
      font-size: 14px;
    }

    &__descr {
      font-size: 14px;
    }

    &__block {
      padding-left: 15px;
    }

    &__block-title {
      font-size: 16px;
    }
  }
  .result {
    &__pretitle-title {
      font-size: 14px;
    }
    &__item-title {
      font-size: 16px;
    }
    &__item-text {
      font-size: 14px;
    }
  }
  .co2-implementation {
    &__pretitle-title {
      font-size: 14px;
    }

    &__descr {
      font-size: 14px;
    }

    &__item-title {
      font-size: 16px;
    }

    &__item-text {
      font-size: 14px;
    }
  }
  .co2-comparison {
    &__pretitle-title {
      font-size: 14px;
    }
    &__descr,
    &__conclusion {
      font-size: 14px;
    }

    &__table td {
      padding-left: 0;
      padding-top: 15px;
    }

    &__table td::before {
      position: static;
      display: block;
      width: 100%;
      margin-bottom: 6px;
      font-size: 16px;
      @include Rubik-500;
    }

    &__table tr {
      padding: 14px;
    }

    &__table-data p {
      padding-left: 0;
    }
    &__cta {
      font-size: 14px;
      p {
        margin-bottom: 20px;
      }
    }
  }
  .faq {
    &__pretitle-title {
      font-size: 14px;
    }

    &__subtitle {
      font-size: 16px;
    }
    &__answer {
      font-size: 14px;
    }
  }
}