@use 'vars' as *;
@use 'fonts' as *;

.intro {
  padding: 100px 0 100px;
  background-color: $semi-white;
  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $white;
  }
  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }
  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: none;
  }
  &__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;
  }
  &__content {
    max-width: 600px;
    width: 100%;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    p {
      margin-bottom: 25px;
      font-size: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__img-box {
    max-width: 570px;
    width: 100%;
    height: auto;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.advantages {
  padding: 100px 0 100px;
  &__title-box {
    margin: 0 auto 50px auto;
  }
  &__title {
    @include Rubik-500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
  }
  &__sub-title {
    font-size: 18px;
    text-align: center;
  }
  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }
  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }
  ul.advantages__list {
    margin-bottom: 25px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  &__item {
    max-width: 380px;
    width: 100%;
    min-height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    text-align: center;
    background-color: $dark-blue;
  }
  &__item-title {
    @include Rubik-400;
    font-size: 22px;
    color: $white;
  }
  &__item-icon {
    width: 40px;
    height: 40px;
  }
  &__descr {
    font-size: 20px;
  }
}

.result {
  padding: 100px 0 100px;
  background-color: $semi-white;
  position: relative;
  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: none;
  }

  &__pretitle {
    margin: 0 auto 25px 0;
    background-color: $white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }
  &__inner {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    gap: 30px;
  }
  &__img-block {
    flex: 1 1 50%;
    max-width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    flex: 1 1 auto;
    max-width: 550px;
    width: 100%;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  &__item-title {
    font-size: 20px;
    @include Rubik-500;
    margin-bottom: 10px;
  }
  &__item-text {
    color: $grey;
    font-size: 18px;
  }
}

.used {
  padding: 100px 0 100px;
  &__title-box {
    margin: 0 auto 50px auto;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__sub-title {
    font-size: 18px;
    text-align: center;
  }

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
  }
  &__item {
    max-width: 380px;
    width: 100%;
    min-height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 25px;
    text-align: center;
   // background-color: $dark-blue;
  }
  &__item-icon {
    width: 40px;
    height: 40px;
  }
  &__item-title {
    @include Rubik-400;
    font-size: 22px;
    color: $dark-blue;
    margin-bottom: 10px;
  }
  &__item-text {
    color: $grey;
    font-size: 18px;
  }
}