@use 'vars' as *;
@use 'fonts' as *;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
html,
body {
  height: 100%;
}
 a,
 button {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   outline: none
 }

 button:focus-visible,
 a:focus-visible {
   outline: none;
 }

 button:focus-visible,
 a:focus-visible {
   outline: none;
 }

body {
  display: flex;
  flex-direction: column;
  @include Rubik-400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:$dark-blue;
  position: relative;
  &.lock {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}
.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  &--style {
    padding: 0 20px;
  }
}
.container-xl {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.pretitle-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
  width: fit-content;
  &__pretitle-title {
  @include Rubik-400;
    font-size: 18px;
  }
}
.accent-text {
  color: $blue;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cta {
  display: inline-block;
  font-size: 20px;
  padding: 20px 40px;
  background-color: $dark-blue;
  color: $white;
  transition: all 0.3s;
  &::first-letter {
    text-transform: uppercase;
  }

  &:hover {
    color: $dark-blue;
    background-color: $blue;
  }
}

@media (max-width: 1298px) {
  .container {
    &--style {
     padding: 0 20px;
   }
  }
}
@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
    &--style {
     padding: 0 20px;
   }
  }
  .container-xl {
    padding: 0 20px;
  }
  .cta {
    font-size: 18px;
  }
}
.title {
  font-size: 40px;
  @include Rubik-600;
  &::first-letter {
    text-transform: uppercase;
  }
}
@media (max-width: 578px) {
  .title {
  @include Rubik-500;
 }
 .pretitle-box {
   &__pretitle-title {
     @include Rubik-400;
   }
 }
  .cta {
    font-size: 16px;
  }
}
@media (max-width: 440px) {
  .container {
    padding: 0 20px;
  }
  .cta {
    padding: 20px;
  }
}
@media (max-width: 395px) {
  .title {
  font-size: 30px; 
 }
}