@use 'vars' as *;
@use 'fonts' as *;

.recuperation-hero {
  padding: 100px 0 100px;
  position: relative;
  min-height: 550px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
        rgba(15, 25, 60, 0.75) 0%,
        rgba(15, 25, 60, 0.55) 50%,
        rgba(15, 25, 60, 0.35) 100%);
    z-index: 1;
  }

  &__inner {
    position: relative;
    max-width: 860px;
    padding: 30px;
    backdrop-filter: blur(8px);
    border-radius: 12px;
    box-shadow:
      inset -1.75px -2.5px rgba(255, 255, 255, 0.5),
      inset 1.75px 0.5px rgba(255, 255, 255, 0.075),
      inset 0px 0px 10px 5px rgba(255, 255, 255, 0.095);
    z-index: 2;
    color: $white;
    background-color: rgba($white, 0.08);
  }

  &__title {
    font-size: 40px;
    @include Rubik-600;
    margin-bottom: 20px;
  }

  &__sub-title {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.4;
  }
}

.recuperation-about {
  padding: 100px 0 100px;
  background-color: $white;

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 30px;
  }

  &__descr {
    margin-bottom: 30px;
    font-size: 18px;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__img-block {
    max-width: 860px;
    width: 100%;
    height: auto;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content-pretitle {
    margin-bottom: 25px;
    background-color: $white;
  }

  &__content-pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 20px;
  }

  &__item {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  &__item-icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }

  &__item-title {
    @include Rubik-500;
    font-size: 20px;
    color: $dark-blue;
    margin-bottom: 10px;
  }

  &__item-text {
    color: $grey;
    font-size: 18px;
  }
}
.recuperation-economy {
  padding: 100px 0;
  background: $semi-white;

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__title,
  &__calculation-title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 30px;
    color: $dark-blue;
  }
  &__calculation-title {
    font-size: 34px;
  }

  &__descr {
    margin-bottom: 30px;
    font-size: 18px;
    color: $dark-blue;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__kpi {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 50px;
    border-top: 1px solid $blue;
    margin-bottom: 50px;
  }

  &__kpi-item {
    text-align: center;
  }

  &__number {
    font-size: 36px;
    @include Rubik-600;
    margin-bottom: 12px;
    color: $blue;
    display: flex;
    align-items: center;
  }

  &__label {
    font-size: 16px;
    color: $grey-700;
    line-height: 1.5;
  }
  &__formula {
    font-size: 20px;
    margin-bottom: 15px;
    p {
      margin-bottom: 20px;
  
      strong {
        @include Rubik-600;
        display: flex;
        gap: 5px;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__formula-list {
    font-size: 18px;
    ul {
      li {
        margin-bottom: 15px;
        
        strong {
          @include Rubik-600;
        }
      
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__conclusion,
  &__calculation-descr,
  &__calculation-sub-descr {
    font-size: 18px;
    margin-bottom: 30px;

    p {
      margin-bottom: 20px;
      line-height: 1.4;

      strong {
        @include Rubik-600;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__cta {
    font-size: 16px;
    p {
      margin-bottom: 20px;
    }
  }

  &__cta-btn {
    &:active {
      opacity: 0.7;
    }
  }
}
.recuperation-work {
  padding: 100px 0;
  background: $white;

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 30px;
    color: $dark-blue;
  }

  &__descr {
    margin-bottom: 30px;
    font-size: 18px;
    color: $dark-blue;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
  }
  &__step {
    padding: 20px;
    background-color: $dark-blue;
  }
  &__number {
    display: inline-block;
    @include Rubik-600;
    font-size: 18px;
    margin-bottom: 10px;
    color: $white;
  }
  &__step-title {
    @include Rubik-500;
    font-size: 20px;
    margin-bottom: 15px;
    color: $blue;
  }
  &__step-text {
    color: $white;
  }
  &__img-block {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.recuperation-use {
  padding: 100px 0 100px;
  background-color: $semi-white;
  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 15px;
  }

  &__descr {
    margin-bottom: 30px;
    font-size: 18px;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__items {
    display: grid;
    align-self: stretch;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
  }

  &__item {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: $dark-blue;
  }

  &__item-title {
    @include Rubik-400;
    font-size: 22px;
    color: $blue;
  }

  &__item-icon {
    width: 50px;
    height: 50px;
  }

  &__item-text {
    color: $white;
  }
}
.recuperation-advantages {
  padding: 100px 0;
  background-color: $white;
  
  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 30px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  &__img-block {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__content-text {
    margin-bottom: 20px;
    font-size: 18px;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }

  &__item {
    padding-bottom: 20px;
    border-bottom: 1px solid $blue;
  }

  &__item-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.recuperation-comparison {
  padding: 100px 0;
  background-color: $dark-blue;

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
    color: $dark-blue;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 30px;
    color: $white;
  }

  &__descr {
    margin-bottom: 30px;
    font-size: 18px;
    color: $white;

    p {
      margin-bottom: 20px;
      line-height: 1.4;

      strong {
        @include Rubik-600;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__table-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }

  &__thead {
    background-color: $semi-white;
  }

  &__table-label {
    @include Rubik-400;
    font-size: 22px;
    color: $dark-blue;
    padding: 18px 20px;
    text-align: left;
    border-right: 1px solid $grey;

    &:last-child {
      border-right: none;
    }
  }

  &__table-data {
    padding: 18px 20px;
    color: $white;
    border-right: 1px solid $grey;
    transition: all .3s;

    &:last-child {
      border-right: none;
    }
  }

  tbody tr {
    border-bottom: 1px solid $grey;
    transition: background 0.3s ease;
  }

  tbody tr:hover {
    background: rgba($dark-blue, 0.1);
    td {
      color: $blue;
  
      &::before {
        color: $white;
      }
    }
  }

  &__conclusion {
    font-size: 18px;
    color: $white;
    margin-bottom: 30px;

    p {
      margin-bottom: 20px;
      line-height: 1.4;

      strong {
        @include Rubik-600;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__cta {
    font-size: 16px;
    color: $white;

    p {
      margin-bottom: 20px;
    }
  }

  &__cta-btn {
    background-color: $white;
    color: $dark-blue;

    &:active {
      opacity: 0.7;
    }
  }

}

@media (max-width: 1200px) {
  .recuperation-work {
    &__steps {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .recuperation-use {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 992px) {
  .recuperation-economy {
    &__kpi {
      grid-template-columns: repeat(2, 1fr);
    }
    &__formula {
      font-size: 18px;
    }
  }
  .recuperation-advantages {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 768px) {
  .recuperation-economy {
    &__formula {
      font-size: 16px;
      p strong {
        @include Rubik-600;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
      }
    }
  }
  .recuperation-work {
    &__steps {
      grid-template-columns: 1fr;
    }
  }
  .recuperation-use {
    &__descr {
      font-size: 18px;
    }

    &__item {
      padding: 20px;
    }

    &__item-title {
      font-size: 20px;
    }
  }
  .recuperation-comparison {
    &__thead {
      display: none;
    }

    &__table-data {
      color: $grey;
    }

    tbody tr:hover {
      background: rgba($dark-blue, 0.85);

      td {
        color: $blue;

        &::before {
          color: $white;
        }
      }
    }

    &__table,
    &__table tbody,
    &__table tr,
    &__table td {
      display: block;
      width: 100%;

    }

    &__table tr {
      margin-bottom: 20px;
      padding: 18px;
      background-color: $semi-white;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__table td {
      position: relative;
      padding-left: 48%;
      padding-top: 12px;
      padding-bottom: 12px;
      border: none;
    }

    &__table td::before {
      content: attr(data-label)':';
      position: absolute;
      left: 18px;
      top: 12px;
      width: 45%;
      color: $dark-blue;
    }
  }
}

@media (max-width: 578px) {
  .recuperation-hero {
    padding: 50px 0;

    &__inner {
      padding: 15px;
    }

    &__title {
      font-size: 36px;
    }

    &__sub-title {
      font-size: 16px;
    }
  }
  .recuperation-about {
    padding: 50px 0;

    &__title {
      font-size: 28px;
    }

    &__descr {
      font-size: 16px;
    }

    &__item-title {
      font-size: 18px;
    }

    &__item-text {
      font-size: 16px;
    }
  }
  .recuperation-economy {
    padding: 50px 0;

    &__title,
    &__calculation-title {
      font-size: 28px;
    }

    &__descr,
    &__conclusion,
    &__calculation-descr,
    &__formula-list,
    &__calculation-sub-descr {
      font-size: 16px;
    }
    &__formula-list {
      ul {
        padding-left: 30px;
      }
    }

    &__number {
      font-size: 28px;
    }

    &__label {
      font-size: 14px;
    }
  }
  .recuperation-work {
    padding: 50px 0;
    
    &__title {
      font-size: 28px;
    }
  
    &__descr {
      font-size: 16px;
    }
  }
  .recuperation-use {
    padding: 50px 0 50px;

    &__title-box {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 32px;
    }

    &__descr {
      font-size: 16px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }

    &__item-title {
      font-size: 18px;
    }
  }
  .recuperation-advantages {
    padding: 50px 0 50px;
  
    &__title {
      font-size: 32px;
    }
    &__content-text {
      font-size: 16px;
    }
  }
  .recuperation-comparison {
    padding: 50px 0;

    &__title {
      font-size: 28px;
    }

    &__descr,
    &__conclusion {
      font-size: 16px;
    }

    &__table-wrapper {
      margin-bottom: 30px;
    }

    &__table tr {
      padding: 25px 20px;
    }

    &__table td {
      padding-right: 5px;

      &::before {
        top: 10px;
        left: 0;
      }
    }

    &__table-data {
      p {
        padding-left: 10px;
      }
    }
  }
}

@media (max-width: 440px) {
  .recuperation-hero {
    &__title {
      font-size: 30px;
    }
  }
  .recuperation-about {
    &__title {
      font-size: 24px;
    }

    &__pretitle-title {
      font-size: 16px;
    }
  }
  .recuperation-economy {
    &__title,
    &__calculation-title {
      font-size: 24px;
    }

    &__pretitle-title {
      font-size: 16px;
    }
    &__kpi {
      gap: 20px;
      padding-top: 30px;
      margin-bottom: 30px;
    }
    &__formula,
    &__formula-list {
      font-size: 14px;
    }
    &__cta-btn {
      width: 100%;
      text-align: center;
    }
  }
  .recuperation-work {
    &__title {
      font-size: 24px;
    }
  
    &__pretitle-title {
      font-size: 16px;
    }
    &__number {
      font-size: 16px;
    }
  }
  .recuperation-use {
    &__title {
      font-size: 24px;
    }

    &__pretitle-title {
      font-size: 16px;
    }

    &__item {
      padding: 15px;
    }

    &__item-icon {
      width: 40px;
      height: 40px;
    }
  }
  .recuperation-advantages {
    &__pretitle-title {
      font-size: 16px;
    }
  
    &__title {
      font-size: 24px;
    }
    &__inner {
      gap: 30px;
    }
    &__list {
      gap: 20px;
    }
    &__item-title {
      font-size: 18px;
    }
    &__item {
      padding-bottom: 10px;
    }
  }
  .recuperation-comparison {
    &__title {
      font-size: 24px;
    }

    &__pretitle-title {
      font-size: 16px;
    }

    &__table td::before {
      font-size: 15px;
    }

    &__table-data {
      p {
        padding-left: 10px;
        font-size: 14px;
      }
    }

    &__cta-btn {
      width: 100%;
      text-align: center;
    }
  }

}

@media (max-width: 365px) {
  .recuperation-about {
    &__pretitle-title {
      font-size: 14px;
    }

    &__item-title {
      font-size: 16px;
    }

    &__item-text {
      font-size: 14px;
    }

    &__descr {
      font-size: 14px;
    }
  }
  .recuperation-economy {
    &__pretitle-title {
      font-size: 14px;
    }

    &__descr,
    &__conclusion,
    &__calculation-descr,
    &__calculation-sub-descr,
    &__conclusion {
      font-size: 14px;
    }

    &__number {
      font-size: 24px;
    }
    &__text {
      font-size: 14px;
    }
    &__cta {
      font-size: 14px;
    }
  }
  .recuperation-work {
    &__pretitle-title {
      font-size: 14px;
    }
  
    &__descr,
    &__number,
    &__step-text {
      font-size: 14px;
    }
    &__step-title {
      font-size: 16px;
    }
  }
  .recuperation-use {
    &__pretitle-title {
      font-size: 14px;
    }

    &__descr {
      font-size: 14px;
    }

    &__item-title {
      font-size: 16px;
    }

    &__item-text {
      font-size: 14px;
    }
  }
  .recuperation-advantages {
    &__pretitle-title {
      font-size: 14px;
    }
    &__content-text {
      font-size: 14px;
    }
    &__item-title {
      font-size: 16px;
    }
    &__item-text {
      font-size: 14px;
    }
  }
  .recuperation-comparison {
    &__pretitle-title {
      font-size: 14px;
    }

    &__descr,
    &__conclusion {
      font-size: 14px;
    }

    &__table td {
      padding-left: 0;
      padding-top: 15px;
    }

    &__table td::before {
      position: static;
      display: block;
      width: 100%;
      margin-bottom: 6px;
      font-size: 16px;
      @include Rubik-500;
    }

    &__table tr {
      padding: 14px;
    }

    &__table-data p {
      padding-left: 0;
    }

    &__cta {
      font-size: 14px;

      p {
        margin-bottom: 20px;
      }
    }
  }
}
