@use 'vars' as *;
@use 'fonts' as *;

//стилі для постів

.article {
  padding: 100px 0; 
  &__title {
    @include Rubik-600;
    font-size: 40px;
    margin-bottom: 10px;
  }
  &__meta {
    font-size: 14px;
    margin-bottom: 25px;
    span {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__image-box {
    margin-bottom: 25px;
  }
  &__img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1, h2, h3, h4, h5, h6 {
      @include Rubik-500;
      font-size: 30px;
      margin-bottom: 10px;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

@media (max-width: 576px) {
  .article {
    padding: 50px 0;
    &__title {
      font-size: 28px;
    }
    &__meta {
      font-size: 14px;
    }
    &__content {
      h1, h2, h3, h4, h5, h6 {
        font-size: 20px;
      }
    }
  }
  
}
@media (max-width: 440px) {
  .article {
    &__title {
      font-size: 24px;
    }
    &__meta {
      font-size: 14px;
    }
  }
  
}
@media (max-width: 365px) {
  .article {
    &__title {
      font-size: 20px;
    }
    &__meta {
      font-size: 12px;
    }
    &__content {
      font-size: 14px;
    }
  }
  
}