@use 'vars' as *;
@use 'fonts' as *;


.automation-about {
  padding: 100px 0 100px;
  background-color: $semi-white;

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 30px;
  }

  &__descr,
  &__conclusion {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.4;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__conclusion {
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    gap: 30px;
    margin-bottom: 50px;
  }
  &__content {
    max-width: 40%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }
  &__block {
    padding-left: 25px;
    border-left: 2px solid $grey-100;
    transition: 0.3s ease;

    &:hover {
      border-left: 2px solid $blue;
    }

    ul {
      padding-left: 30px;
      margin: 0;

      li {
        margin-bottom: 10px;
        font-size: 16px;
        color: $grey-700;

        &::marker {
          color: $blue;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__block-title {
    margin-bottom: 15px;
    font-size: 20px;
    @include Rubik-500;
    color: $dark-blue;
  }
  &__img-block {
    max-width: 60%;
    width: 100%;
    height: auto;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.dispatching {
  padding: 100px 0 100px;
  background-color: $white;

  &__title-box {
    margin: 0 auto 50px auto;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 15px;
  }

  &__descr,
  &__conclusion {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.4;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__conclusion {
    margin-bottom: 0;
  }

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__grid {
    display: grid;
    align-self: stretch;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
  }

  &__card {
    max-width: 100%;
    width: 100%;
    min-height: 165px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: $dark-blue;
  }

  &__card-title {
    @include Rubik-400;
    font-size: 22px;
    color: $blue;
  }

  &__card-icon {
    width: 50px;
    height: 50px;
  }

  &__card-text {
    color: $white;
    line-height: 1.4;

    strong {
      @include Rubik-500;
    }
  }
}
.carel-solutions {
  padding: 100px 0 100px;
  background-color: $semi-white;

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 30px;
  }
  &__main {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
  }
  &__architecture {
    margin-bottom: 50px;
  }
  &__descr,
  &__official-descr {
    font-size: 18px;
    line-height: 1.4;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__img-block {
    max-width: 100%;
    width: 100%;
    height: auto;
    align-self: center;
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__content-title,
  &__official-title {
    @include Rubik-500;
    font-size: 34px;
    margin-bottom: 20px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  &__item-title {
    @include Rubik-400;
    font-size: 20px;
  }
}
.automation-benefits {
  padding: 100px 0 100px;
  background-color: $white;

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 30px;
  }
  &__descr,
  &__final {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.4;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    gap: 30px;
  }
  &__img-block {
    max-width: 100%;
    width: 100%;
    height: auto;
    align-self: center;
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__list {
    counter-reset: benefit;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }



  &__item {
    counter-increment: benefit;
    position: relative;
    padding-left: 65px;
    &::before {
      content: counter(benefit, decimal-leading-zero);
      position: absolute;
      left: 0;
      top: 0;
      font-size: 42px;
      @include Rubik-600;
      color: $blue;
      opacity: 0.5;
    }
  }
  &__item-title {
    @include Rubik-500;
    font-size: 20px;
    margin-bottom: 5px;
  }
  &__item-text {
    font-size: 16px;
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__final {
    margin-bottom: 0;
  }
}
.automation-roi {
  padding: 100px 0;
  background: $dark-blue;

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__title,
  &__calculation-title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 30px;
    color: $dark-blue;
    color: $white;
  }

  &__calculation-title {
    font-size: 34px;
    color: $white;
  }

  &__descr {
    margin-bottom: 30px;
    font-size: 18px;
    color: $white;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__kpi {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 50px 0;
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
    margin-bottom: 50px;
  }

  &__item {
    text-align: center;
  }

  &__number {
    display: block;
    font-size: 36px;
    @include Rubik-600;
    color: $blue;
    margin: 0 auto 10px auto;
  }

  &__text {
    font-size: 16px;
    color: $grey-100;
    line-height: 1.5;
  }

  &__formula {
    font-size: 20px;
    margin-bottom: 15px;
    color: $white;
    p {
      margin-bottom: 20px;
      strong {
        @include Rubik-600;
        display: flex;
        gap: 5px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__formula-list {
    font-size: 18px;
    color: $white;

    ul {
      li {
        margin-bottom: 15px;
        strong {
          @include Rubik-600;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &::marker {
          color: $blue;
        }
      }
    }
  }

  &__conclusion,
  &__calculation-descr,
  &__calculation-sub-descr {
    font-size: 18px;
    margin-bottom: 30px;
    color: $white;

    p {
      margin-bottom: 20px;
      line-height: 1.4;

      strong {
        @include Rubik-600;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__cta {
    font-size: 16px;
    color: $white;

    p {
      margin-bottom: 20px;
    }
  }

  &__cta-btn {
    background-color: $white;
    color: $dark-blue;
    &:active {
      opacity: 0.7;
    }
  }
}
.carel-trust {
  padding: 100px 0;
  background-color: $white;

  &__pretitle {
    margin: 0 auto 25px auto;
    background-color: $semi-white;
  }

  &__pretitle-title {
    font-size: 20px;
    @include Rubik-500;
  }

  &__title {
    @include Rubik-500;
    font-size: 40px;
    margin-bottom: 30px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  &__card {
    padding: 20px;
    background-color: $semi-white;
    border: 1px solid $blue;
  }
  &__card-title {
    font-size: 20px;
    @include Rubik-500;
    margin-bottom: 20px;
  }
  &__card-text {
    font-size: 18px;
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 1200px) {
  .dispatching {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .carel-solutions {
    &__descr {
      font-size: 16px;
    }
    &__item-title {
      font-size: 18px;
    }
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .automation-benefits {
    &__content {
      gap: 20px;
    }
  }
}

@media (max-width: 1064px) {
  .automation-benefits {
    &__content {
      grid-template-columns: 1fr;
      gap: 30px;
    }
    &__img-block {
      max-width: 650px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 992px) {
  .automation-about {
    &__inner {
      flex-direction: column-reverse;
    }
    &__img-block,
    &__content {
      max-width: 100%;
    }
  }
  .carel-solutions {
    &__main {
      grid-template-columns: 1fr;
    }
    &__descr {
      font-size: 18px;
    }
    &__img-block {
      max-width: 650px;
      margin: 0 auto;
    }
    &__item-title {
      font-size: 16px;
    }
  }
  .automation-roi {
    &__kpi {
      grid-template-columns: repeat(2, 1fr);
    }

    &__formula {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .dispatching {
    &__card-title {
      font-size: 20px;
    }

    &__card {
      padding: 20px;
    }
  }
  .carel-solutions {
    &__list {
      grid-template-columns: 1fr;
    }
  }
  .automation-benefits {
    &__img-block {
      max-width: 450px;
    }
  }
  .automation-roi {
    &__formula {
      font-size: 16px;

      p strong {
        @include Rubik-600;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
      }
    }
  }
  .carel-trust {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 578px) {

  .automation-about {
    padding: 50px 0;
    &__descr,
    &__conclusion {
      font-size: 16px;
      line-height: 1.2;
    }
    &__block {
      padding-left: 20px;
      ul {
        padding-left: 20px;
      }
    }
  }
  .dispatching {
    padding: 50px 0 50px;
    &__title {
      font-size: 32px;
    }
    &__descr,
    &__conclusion {
      font-size: 16px;
      line-height: 1.2;
    }

    &__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }

    &__card {
      min-height: auto;
    }
  }
  .carel-solutions {
    padding: 50px 0 50px;
    
    &__title {
      font-size: 32px;
    }
    &__descr,
    &__official-descr {
      font-size: 16px;
      line-height: 1.2;
    }
      &__content-title,
      &__official-title {
      font-size: 30px;
    }
  }
  .automation-benefits {
    padding: 50px 0 50px;
    
    &__title {
      font-size: 32px;
    }
    &__descr,
    &__final {
      font-size: 16px;
      line-height: 1.2;
    }
    &__content {
      margin-bottom: 30px;
    }
    &__item {
      padding-left: 50px;
      padding-bottom: 20px;
      border-bottom: 1px solid $blue;
      &::before {
        font-size: 30px;
      }
    }
  }
  .automation-roi {
    padding: 50px 0;

    &__title,
    &__calculation-title {
      font-size: 28px;
    }

    &__descr,
    &__conclusion,
    &__calculation-descr,
    &__formula-list,
    &__calculation-sub-descr {
      font-size: 16px;
    }

    &__formula-list {
      ul {
        padding-left: 30px;
      }
    }

    &__number {
      font-size: 28px;
    }

    &__text {
      font-size: 14px;
    }
  }
  .carel-trust {
    padding: 50px 0;
    &__title {
      font-size: 28px;
    }
    &__card-text {
      font-size: 16px;
    }
  }
}

@media (max-width: 440px) {
  .automation-about {
    &__pretitle-title {
      font-size: 16px;
    }
  
    &__title {
      font-size: 24px;
    }
    &__inner {
      margin-bottom: 30px;
    }
    &__block-title {
      font-size: 18px;
    }
    &__block  {
      ul {
        li {
          font-size: 14px;
        }
      }
    }
  }
  .dispatching {
    &__pretitle-title {
      font-size: 16px;
    }

    &__title {
      font-size: 24px;
    }
    &__card-icon {
      width: 40px;
      height: 40px;
    }
    &__card-title {
      font-size: 18px;
    }
    &__card-text {
      line-height: 1.2;
    }
  }
  .carel-solutions {
    &__pretitle-title {
      font-size: 16px;
    }
  
    &__title,
    &__content-title,
    &__official-title {
      font-size: 24px;
    }
    &__main,
    &__architecture {
      margin-bottom: 30px;
    }
  } 
  .automation-benefits {
    &__pretitle-title {
      font-size: 16px;
    }
    &__title {
      font-size: 24px;
    }
    &__item {
      padding-left: 0;
      padding-top: 40px;
      &::before {
        font-size: 30px;
      }
    }
    &__item-title {
      font-size: 18px;
    }
     &__item-text {
      font-size: 14px;
     }
  }
  .automation-roi {

    &__title,
    &__calculation-title {
      font-size: 24px;
    }

    &__pretitle-title {
      font-size: 16px;
    }

    &__kpi {
      gap: 20px;
      padding: 30px 0;
      margin-bottom: 30px;
    }

    &__formula,
    &__formula-list {
      font-size: 14px;
    }

    &__cta-btn {
      width: 100%;
      text-align: center;
    }
  }
  .carel-trust {
    padding: 50px 0;
    &__pretitle-title {
      font-size: 16px;
    }
    &__title {
      font-size: 24px;
    }
    &__card-title {
      font-size: 18px;
    }
    &__card {
      padding: 15px;
    }
  }
}

@media (max-width: 365px) {
  .automation-about {
    &__pretitle-title,
    &__descr,
    &__conclusion {
      font-size: 14px;
    }
    &__block {
      padding-left: 15px;
      ul {
        padding-left: 15px;
      }
    }
    &__block-title {
      font-size: 16px;
    }
    
  }
  .dispatching {
    &__pretitle-title,
    &__descr,
    &__conclusion {
      font-size: 14px;
    }

    &__card-title {
      font-size: 16px;
    }

    &__card-text {
      font-size: 14px;
    }
  }
  .carel-solutions {
    &__pretitle-title,
    &__descr,
    &__official-descr,
    &__item-title {
      font-size: 14px;
    }
  }
  .automation-benefits {
    &__pretitle-title,
    &__descr,
    &__item-text,
    &__final {
      font-size: 14px;
    }
    &__item-title {
      font-size: 16px;
    }
    &__item {
      padding-top: 35px;
      &::before {
        font-size: 25px;
      }
    }
  }
  .automation-roi {
    &__pretitle-title {
      font-size: 14px;
    }

    &__descr,
    &__conclusion,
    &__calculation-descr,
    &__calculation-sub-descr,
    &__conclusion {
      font-size: 14px;
    }

    &__number {
      font-size: 24px;
    }

    &__text {
      font-size: 14px;
    }

    &__cta {
      font-size: 14px;
    }
  }
  .carel-trust {
    &__pretitle-title,
    &__card-text {
      font-size: 14px;
    }
  }
}

