@use 'importer' as *;
@forward 'global';

.header-top-bar {
  padding: 20px 0;
  background-color: $semi-white;
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__work-time-info {
    display: flex;
    align-items: center;
  }
  &__title {
    padding-right: 5px;
    font-size: 18px;
  }
  &__openTime {
    line-height: 1;
  }
  ul.header-top-bar__social-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }
  &__social-link{
    display: inline-flex;
    align-items: center;
    padding: 5px;
    svg {
      path {
        fill: $dark-blue;
      }
    }
    &:hover {
      svg {
        path {
          fill: $blue;
        } 
      }
    }
  }
}

.header {
  &__inner {
    position: relative;
    padding: 30px 0px 60px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    width: 250px;
    height: auto;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__contact-list {
    display: flex;
    align-items: center;
    gap: 65px;
  }
  &__contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
      path {
        transition: all 0.3s;
        fill:$blue;
      }
    }
    &:hover {
      svg {
        path {
          transition: all 0.3s;
          fill: $dark-blue;
          stroke: $white;
        } 
      }
      a.header__contact-link {
        transition: all 0.3s;
        color: $dark-blue;
      }
    }
  }
  &__contact-name {
    font-size: 20px;
  }
  &__contact-link {
    color: $grey;
  }
}

.lang-menu {
  display: flex;
  gap: 10px; 

  &__item {
    position: relative;
    padding-right: 10px;

    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 100%;
      top: 0;
      right: 0;
      background-color: $dark-blue;
    }

    &:last-child::after {
      display: none
    }
    &:last-child {
      padding-right: 0;
    }
  }
  &__link {
    color: $dark-blue;
    font-size: 18px;
    display: inline-block;
    letter-spacing: 0.04em;
    &:hover {
      color: $blue;
    }
  }
}

.menu {
  &__wrap {
    background-color: $dark-blue;
    padding: 10px 20px;
    position: absolute;
    bottom: -60px;
    left: 0;
    right:0;
  }
  &__img {
    display: none;
  }
  &__btn {
    display: none;
  }
  &__list{
    display: flex;
    align-items: center;
  }
  &__item {
    padding: 0 5px;
    &:last-child {
      margin-left: auto;
    }
  }
  &__link {
    padding: 20px;
    color: $white;
    font-size: 20px;
    line-height: 1.4;
    display: inline-block;
    letter-spacing: 0.04em;
    &:hover {
      color: $blue;
    }
  }
}

.hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__content {
    max-width: 720px;
    width: 100%;
    backdrop-filter: blur(5px);
    padding: 10px 10px 10px 0;
  }
  &__pretitle {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    p {
      font-size: 18px;
    }
  }
  &__title {
    font-size: 60px;
    margin-bottom: 30px;
    color: $dark-blue;
  }
  &__subtitle-link {
    display: inline-block;
    font-size: 20px;
    padding: 20px 40px;
    background-color: $dark-blue;
    color: $white;
    transition: all 0.3s;
    &:hover {
      color: $dark-blue;
      background-color: $blue;
    }
  }
}

@media (max-width: 1180px) {
  .header {
    &__logo {
      width: 220px;
    }
    &__contact-name {
      font-size: 18px;
    }
    &__contact-item {
      svg {
        width: 58px;
        height: 58px;
      }
    }
  }
  .menu {
    &__wrap {
      padding: 10px;
      bottom: -40px;
    }
    &__link {
      padding: 10px;
      font-size: 18px;
    }
  }
  .hero {
    &__title {
      font-size: 52px;
    }
    &__subtitle-link {
      font-size: 18px;
    }
  }
}
@media (max-width: 880px) {
  .header-top-bar {
    position: relative;
    z-index: 250;
  }
  .header {
    &__content {
      position: relative;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      position: static;
    }
    &__contact-list {
      display: none;
    }
  }
  .menu {
    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      inset: 0;
      height: 100vh;
      background-color: $dark-blue;
      z-index: 100;
      transform: translateY(-200%);
      transition: transform .5s;
      &--active {
        transform: translateY(0);
        .menu__img {
          display: block;
          width: 180px;
          margin: 0 auto 50px auto;
        }
      }
    }
    &__btn {
        display: block;
        border: none;
        width: 40px;
        height: 26px;
        position: relative;
        background-color: transparent;
        cursor: pointer;
        z-index: 150;
    
        &::before,
        &::after {
          content: '';
          left: 0;
          position: absolute;
          display: block;
          width: 100%;
          height: 4px;
          border-radius: 10px;
          background-color: $dark-blue;
        }
    
        &::before {
          top: 0;
          box-shadow: 0 11px 0 $dark-blue;
          transition: top .3s .15s, transform .3s;
        }
    
        &::after {
          bottom: 0;
          transition: bottom .3s .15s, transform .3s;
        }
    
      &--active {
        &::before {
          top: 11px;
          transform: rotate(45deg);
          box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
          transition: box-shadow .15s, top .3s, transform .3s .15s;
          background-color: $blue;
        }
  
        &::after {
          bottom: 11px;
          transform: rotate(-45deg);
          transition: bottom .3s, transform .3s .15s;
          background-color: $blue;
        }
      }
    }
    &__list {
      display: block;
      text-align: center;
    }
    &__link {
      padding: 20px;
      font-size: 20px;
    }
  }
  .hero {
    padding-top: 0;
  }
}

@media (max-width: 578px) {
  .lang-menu {
    &__link {
      font-size: 16px;
    }
  }
  .hero {
    &__pretitle {
      p {
        font-size: 14px;
      }
    }
    &__title {
      font-size: 38px;
    }
    &__subtitle-link {
      font-size: 14px;
    }
  }
}
@media (max-width: 440px) {
  .header-top-bar {
    &__work-time-info {
      flex-wrap: wrap;
    }
    &__title {
      font-size: 16px;
    }
    &__openTime {
      font-size: 14px;
    }
    ul.header-top-bar__social-list {
      margin-right: 20px;
    }
  }
  .menu {
    &__img {
      width: 150px;
    }
    &__link {
      padding: 20px;
      font-size: 16px; 
    }
  }
}
@media (max-width: 375px) {
  .header-top-bar {
    ul.header-top-bar__social-list {
      margin-right: 10px;
      gap: 5px;
    }
  }
}